.pictures {
	display:flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
}
@media (min-width: 320px) and (max-width: 480px) {
	.pictures{
	flex-wrap: wrap;
	}
}	
.pictures__picture {
	width: 129px;
	height: auto;
}