.header {
    background: transparent url('../img/header banner.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    display: block;
}

.header__button {
    padding-right: 5px;
    padding-left: 5px;
    color: gray;
    list-style-type: none;
    text-decoration: none;
}
.header__button--active {
    color: black;
}

.header-container {
    display: block;
    margin: 0 auto;
    max-width: 75%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-left {
    justify-content: center;
    align-items: center;
    display: flex;
}
.header-left__logo {
    background-color: #EE4876;
    color: white;
    padding: 5px 20px 5px 20px;
}
.header-left__links-list {
    display: flex;
    flex-wrap: wrap;
}

.header-right {
    justify-content: center;
    align-items: center;
    display: flex;
}
.header-right__quote {
    background-color: #EE4876;
    color: white;
    padding: 5px 20px 5px 20px;
}

.header-bottom {
    display: block;
    align-items: left;
    justify-content: space-around;
}
.header-bottom__text {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
}
.header-bottom__text--small {
    font-weight: bold;
    margin: 0;
}
.header-bottom__text--big {
    font-weight: bold;
    margin: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
    .header {
        font-size: 12px;
        height: auto;
    }
    .header-bottom__text {
        font-size: 12px;
    }
    .header-bottom__text--small {
        font-size: 24px;
    }
    .header-bottom__text--big {
        flex-size: 50px;
    }
}   

@media (min-width: 481px) {
    .header {
        font-size: 16px;
        height: 568px;
    }
    .header-bottom__text {
        font-size: 24px;
    }
    .header-bottom__text--small {
        font-size: 48px;
    }
    .header-bottom__text--big {
        flex-size: 100px;
    }
}