.separate-related-main {
    min-width: 0;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

}

.contact__text,
.separate-dashboards__text,
.upgrading-cscart__text,
.aws-hosting__text {
    font-size: 1.125em;
    line-height: 24px;
    margin-right: 15%;
    margin-left: 15%;
}

.contact__title,
.related__title,
.separate-dashboards__title,
.upgrading-cscart__title,
.aws-hosting__title {
    font-weight: bold;
    font-size: 1.125em;
    line-height: 20px;
    margin-right: 15%;
    margin-left: 15%;
}

.result__title {
    font-weight: bold;
    font-size: 2.500em;
    line-height: 20px;
    margin-right: 15%;
    margin-left: 15%;
}

.result__text {
    font-weight: bold;
    font-size: 1.625em;
    line-height: 32px;
    margin-right: 15%;
    margin-left: 15%;
}

.related__title {
    position: relative;
    font-weight: bold;
    font-size: 2.500em;
    line-height: 20px;
    margin-right: 15%;
    margin-left: 15%;
}

.related__images-container {
    width: 90%;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.related__text-notebook-top {
    position: absolute;
    margin-top: 2.5%;
    margin-left: 5%;
    font-size: 1.000em;
    line-height: 30px;
    margin-right: 15%;
    margin-left: 12%;
}

.related__text-decoration-top {
    position: absolute;
    margin-top: 2.5%;
    margin-left: 55%;
    font-size: 1.250em;
    line-height: 30px;
}

.related__text-notebook-bot {
    position: absolute;
    margin-top: 5%;
    margin-left: 12%;
    font-size: 1.500em;
    line-height: 24px;
}

.related__text-decoration-bot {
    position: absolute;
    margin-top: 5%;
    margin-left: 55%;
    font-size: 1.500em;
    line-height: 24px;
}

.related__image {
    width: 50%;
    display: inline-block;
}

.separate-dashboards {
    background-color: #6674bf;
    background-size: 200%;
    width: 100%;
}

.related {
    flex-direction: row;
}


@media screen and (max-width: 768px) {
.related__text-decoration-bot , .related__text-notebook-bot {
        display:none;
  
}
}